<section class="section-header">
    {{ title_prefix }}
    <h2 class="small">{{ entity.field_brick_headline }}</h2>
    {{ title_suffix }}
    <p>{{ entity.field_brick_subhead }}</p>
</section>

<section class="grid">
    <div class="content">
        {{ entity.field_brick_viewfield }}
    </div>

    <div class="grid-footer">
        {{ entity.field_brick_link }}
    </div>
</section>

