{#

#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
<div class="container">
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  <h1 class="headline-effect-city-color">{{ label }}</h1>
  {{ title_suffix }}
  <div{{ content_attributes.addClass('node__content') }}>
    <div class="flex-container">

      <div class="seminar-details-left col-8-md col-12-xs">
        {# BEGIN LEFT COLUMN #}
        <h2>{{ 'Class details:' | t }}</h2>

        <div class="seminar-sessions">
          {{ seminar_detail_page_sessions }}
        </div>

        <div class="seminar-metadata">
          {{ content.field_smnr_class_type }}
          {{ content.field_duration}}
          {{ content.field_topics}}
          {{ content.field_cost}}
          {{ content.field_smnr_level}}
        </div>

        <div class="seminar-reserve flex-container">
          <div class="col-12-xs col-6-md col-4-lg">
            {{ content.field_reserve_link }}
          </div>
          <div class="col-12-xs col-6-md col-8-lg">
            <p><strong>{{ '*Note: Please reference registration page for all dates/times that are still available.' | t }}</strong></p>
          </div>
        </div>

        <h2>{{ 'Class description:' | t }}</h2>

        <div class="seminar-description">
          {{ content.body }}
        </div>

        <div class="seminar-reserve flex-container">
          <div class="col-12-xs col-6-md col-4-lg">
            {{ content.field_reserve_link }}
          </div>
          <div class="col-12-xs col-6-md col-8-lg">
          </div>
        </div>
        {# END LEFT COLUMN #}
      </div>

      <div class="seminar-details-right col-4-md col-12-xs slab-light-gray">
        {# BEGIN RIGHT COLUMN #}
        {{ seminar_detail_page_speakers }}
        {# END RIGHT COLUMN #}
      </div>
    </div>
  </div>
</article>
</div>
