{#

#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
<div class="container">
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  <h1 class="headline-effect-city-color">{{ label }}</h1>
  {{ title_suffix }}
  <div{{ content_attributes.addClass('node__content') }}>
    <div class="flex-container">

      <div class="about-seminar col-8-sm col-12-xs">
        {# BEGIN LEFT COLUMN #}
        <h2>{{ 'Class details:' | t }}</h2>

        <div class="seminar-sessions">
          <p>( view table goes here )</p>
        </div>

        <hr/>

        <div class="seminar-metadata">
          {{ content.field_smnr_class_type }}
          {{ content.field_duration}}
          {{ content.field_topics}}
          {{ content.field_cost}}
          {{ content.field_smnr_level}}
        </div>

        <div class="flex-container">
          <div class="col-12-xs col-4-sm">
            {{ content.field_reserve_link }}
          </div>
          <div class="col-12-xs col-8-sm">
            <p>{{ '*Note: Please reference registration page for all dates/times that are still available.' | t }}</p>
          </div>
        </div>

        <h2>{{ 'Class description:' | t }}</h2>

        {{ content.body }}

        {{ content.field_reserve_link }}
        {# END LEFT COLUMN #}
      </div>
      <div class="about-the-speaker col-4-sm col-12-xs slab-light-gray">
        {# BEGIN RIGHT COLUMN #}
        <h2>About [speaker name goes here and might be long]:</h2>
        <p>( view table goes here )</p>
        {# END RIGHT COLUMN #}
      </div>
    </div>
  </div>
</article>
</div>
