<section {{ attributes.addClass('masthead') }}>
  {{ context_links }}

  {% if brick_background_image is not empty %}

    {%if not field_hide_page_title %}
        <h1 class="page-title"><span>{{current_page_title}}</span></h1>
    {% endif %}

    <div class="brick--background-image">
      {{ brick_background_image }}
    </div>
  {% endif %}

  <div class="container">
    {# place page title here if it cant be placed within background_image #}
    {% if brick_background_image is empty %}
      {% if not field_hide_page_title %}
        <h1 class="page-title"><span>{{current_page_title}}</span></h1>
      {% endif %}
    {% endif %}
    {% if entity.childs %}
      <div class="brick--children">
        {{ entity.childs }}
      </div>
    {% endif %}
  </div>
</section>
