<section class="section-header">
  <h3>{{ entity.field_brick_headline }}</h3>
  <p>{{ entity.field_brick_subhead }}</p>
</section>
<section class="flex-container">
  {{ context_links }}
  {{ entity.field_brick_viewfield }}

  <div class="grid-footer">
    {{ entity.field_brick_link }}
  </div>
</section>
