<section {{ attributes.addClass('arrival-location') }}>
  {{ context_links }}
  <div class="location-marker-label">
    <div class="marker-label-content">{{ marker_label }}</div>
  </div>
  <div class="location-title">{{ entity.title }}</div>
  <div class="location-address">({{ location_address }})</div>
  <div class="location-features">
    {% if location_features.parking is defined %}
      <div class="location-feature-parking"></div>
    {% endif %}

    {% if location_features.handicap_parking is defined %}
      <div class="location-feature-handicap-parking"></div>
    {% endif %}

    {% if location_features.rideshare_drop_off is defined %}
      <div class="location-feature-rideshare"></div>
    {% endif %}
  </div>
  <div class="location-links">
    {{entity.field_paragraphs}}
  </div>
  <div class="location-image">{{ entity.field_image }}</div>

  {# TODO: conditional if only feature handicap_parking is true #}
  <div class="location-disclaimer"></div>
</section>
