<section {{ attributes }}>
  {{ context_links }}
  <a href="{{ primary_cta_url }}" class="card-cta-header">
    {{brick_background_image}}
    <h3 class="headline"><span>{{ headline_title|raw }}</span></h3>
  </a>
  <div class="card-cta-body">
    {{ content.field_link }}
  </div>
</section>
