<section {{ attributes.addClass('arrival-location') }}>
  {{ context_links }}
  <div class="location-marker-label">
    <div class="marker-label-content">{{ marker_label }}</div>
  </div>
  <div class="location-title">{{ entity.field_location_title }}</div>
  <div class="location-address">{{ location_address }}</div>

  {% if location_features is defined %}
  <div class="location-features">
    {% if 'parking' in location_features %}
      <div class="location-feature-parking">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.5 22.5">
          <title>Asset 1</title>
          <path d="M21.6,6.9a10.7,10.7,0,0,1,.9,4.3,10.8,10.8,0,0,1-.9,4.4,11,11,0,0,1-6,6,10.8,10.8,0,0,1-4.4.9,10.7,10.7,0,0,1-4.3-.9,11,11,0,0,1-6-6A10.8,10.8,0,0,1,0,11.2,10.7,10.7,0,0,1,.9,6.9a11,11,0,0,1,6-6A10.7,10.7,0,0,1,11.2,0a10.8,10.8,0,0,1,4.4.9,11,11,0,0,1,6,6Zm-6.1,5.4a3.4,3.4,0,0,0,1.2-2.7,3.6,3.6,0,0,0-1.2-2.8,3.6,3.6,0,0,0-2.8-1.2H7.3V16.9H9.6V13.5h3.1A3.6,3.6,0,0,0,15.5,12.3ZM13.9,8.4a1.3,1.3,0,0,1,.5,1.2,1.5,1.5,0,0,1-1.7,1.6H9.6V7.9h3.1A1.3,1.3,0,0,1,13.9,8.4Z"/>
        </svg>
      </div>
    {% endif %}

    {% if 'handicap_parking' in location_features %}
      <div class="location-feature-handicap-parking">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37 22.5">
          <g>
            <path d="M12.7,5.6H7.3V16.9H9.6V13.5h3.1a3.6,3.6,0,0,0,2.8-1.2,3.4,3.4,0,0,0,1.2-2.7,3.8,3.8,0,0,0-1.2-2.8A3.6,3.6,0,0,0,12.7,5.6Zm1.2,5.2a1.6,1.6,0,0,1-1.2.4H9.6V7.9h3.1a1.3,1.3,0,0,1,1.2.5,1.3,1.3,0,0,1,.5,1.2A1.6,1.6,0,0,1,13.9,10.8Z" fill="none"/>
            <path d="M26.7,15.2a3.5,3.5,0,0,1-1.3,1.4,4.1,4.1,0,0,1-1.9.5,3.7,3.7,0,0,1-2.6-1,3.7,3.7,0,0,1-1-2.6,3.6,3.6,0,0,1,.6-2A3.7,3.7,0,0,1,22,10.2V9.1a5.2,5.2,0,0,0-2.2,1.7,4.4,4.4,0,0,0-.9,2.7,4.8,4.8,0,0,0,.7,2.3,4.6,4.6,0,0,0,1.7,1.7,4.8,4.8,0,0,0,2.3.7,4.4,4.4,0,0,0,2.7-.9,4.1,4.1,0,0,0,1.7-2.4l-.8-1.6A3.3,3.3,0,0,1,26.7,15.2Z" fill="none"/>
            <path d="M29.9,14.9l-1.8-3.7a.5.5,0,0,0-.5-.3H24l-.2-1h3.3V8.8H23.7l-.3-2.3a1.7,1.7,0,0,0,1-.3,1.3,1.3,0,0,0,.4-1,1.2,1.2,0,0,0-.4-.9,1.3,1.3,0,0,0-.9-.4,1.3,1.3,0,0,0-.8.3c-.2.2-.4.4-.4.6a.8.8,0,0,0-.1.4l.8,6.3.2.3h4.1l2,3.9c0,.2.2.3.4.3s.2,0,.2-.1L32,15l-.5-.9Z" fill="none"/>
            <path d="M12.7,7.9H9.6v3.3h3.1a1.5,1.5,0,0,0,1.7-1.6,1.3,1.3,0,0,0-.5-1.2A1.3,1.3,0,0,0,12.7,7.9Z"/>
            <path d="M36.1,6.9a11,11,0,0,0-6-6A12.4,12.4,0,0,0,26.3,0H11.2A10.7,10.7,0,0,0,6.9.9a11,11,0,0,0-6,6A10.7,10.7,0,0,0,0,11.2a10.8,10.8,0,0,0,.9,4.4,11,11,0,0,0,6,6,10.7,10.7,0,0,0,4.3.9H26a9.5,9.5,0,0,0,4.1-.9,11,11,0,0,0,6-6,10.8,10.8,0,0,0,.9-4.4A10.7,10.7,0,0,0,36.1,6.9ZM15.5,12.3a3.6,3.6,0,0,1-2.8,1.2H9.6v3.4H7.3V5.6h5.4a3.6,3.6,0,0,1,2.8,1.2,3.8,3.8,0,0,1,1.2,2.8A3.4,3.4,0,0,1,15.5,12.3Zm10.7,5a4.4,4.4,0,0,1-2.7.9,4.8,4.8,0,0,1-2.3-.7,4.6,4.6,0,0,1-1.7-1.7,4.8,4.8,0,0,1-.7-2.3,4.4,4.4,0,0,1,.9-2.7,5.2,5.2,0,0,1,2.2-1.7v1.1a3.7,3.7,0,0,0-1.5,1.3,3.6,3.6,0,0,0-.6,2,3.7,3.7,0,0,0,1,2.6,3.7,3.7,0,0,0,2.6,1,4.1,4.1,0,0,0,1.9-.5,3.5,3.5,0,0,0,1.3-1.4,3.3,3.3,0,0,0,.4-1.9l.8,1.6A4.1,4.1,0,0,1,26.2,17.3ZM29.9,16c0,.1-.1.1-.2.1s-.4-.1-.4-.3l-2-3.9H23.2l-.2-.3-.8-6.3a.8.8,0,0,1,.1-.4c0-.2.2-.4.4-.6a1.3,1.3,0,0,1,.8-.3,1.3,1.3,0,0,1,.9.4,1.2,1.2,0,0,1,.4.9,1.3,1.3,0,0,1-.4,1,1.7,1.7,0,0,1-1,.3l.3,2.3h3.4V9.9H23.8l.2,1h3.6a.5.5,0,0,1,.5.3l1.8,3.7,1.6-.8.5.9Z"/>
          </g>
        </svg>
      </div>
    {% endif %}

    {% if 'rideshare_drop_off' in location_features %}
      <div class="location-feature-rideshare">
        <span>RIDESHARE</span>
        <span>DROP OFF</span>
      </div>
    {% endif %}
  </div>
  {% endif %}
  <div class="location-links">
    {{entity.field_paragraphs}}
  </div>
  <div class="location-image">{{ entity.field_image }}</div>

  <div class="location-disclaimer">
    {% if 'handicap_parking' in location_features and ('parking' not in location_features and 'rideshare_drop_off' not in location_features) %}
      <sup>*</sup>Handicap parking only
    {% endif %}
  </div>
</section>
