<section class="section-header">
  {{ title_prefix }}
  {{ context_links }}
  {% if entity.field_brick_headline is not empty %}
    <h2 class="small">{{ entity.field_brick_headline }}</h2>
  {% endif %}

  {{ title_suffix }}

  {% if entity.field_brick_subhead is not empty %}
    <p>{{ entity.field_brick_subhead }}</p>
  {% endif %}
</section>

<section class="grid">
  <div class="content">
    {{ entity.field_brick_viewfield }}
  </div>
  {% if entity.field_brick_link is not empty %}
    <div class="grid-footer">
      {{ entity.field_brick_link }}
    </div>
  {% endif %}
</section>

