<div class="col-12-xs col-12-sm col-4-md">
  <div class="grid-item--article">
    {{ title_prefix }}
    <div class="grid-item--content">
      <div class="image curve-corner" style="background-image: url({{ path }})">
      </div>
      <div class="title"><a href="{{ url }}" rel="bookmark" data-gtm-tracking-label="Featured Articles">{{ node.label }}</a></div>
      <div class="slugline">
        {{ node.getCreatedTime|format_date('month_year') }}
        {% if node.field_article_author is not empty %}
          | {{ content.field_article_author }}
        {% endif %}
      </div>
      <div class="body">
        {{ content.field_article_teaser }}
      </div>
    </div>
    {{ title_suffix }}
  </div>
</div>