{% set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
] %}


<article {{ attributes.addClass(classes) }}>
  {% if title_prefix or title_suffix or display_submitted or unpublished or page is empty and label %}
    <header>
      {{ title_prefix }}
      {% if not page and label %}
        <a href="{{ url }}"{{ title_attributes }}>{{ label }}</a>
      {% endif %}
      {{ title_suffix }}
      <div class="slugline text-small">{{ node.getCreatedTime|format_date('month_year') }}
        {% if node.field_article_author is not empty %}
          | {{ content.field_article_author }}
        {% endif %}
      </div>
    </header>
  {% endif %}

  <div class="content">
    {{ content.field_article_teaser }}
  </div>
</article>
<!-- /article #node -->
