{% set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
'flex-container',
] %}

<section class="page-content article flex-container">
  <article {{ attributes.addClass(classes) }}>
    <div class="main-content col-12-xs col-12-sm col-8-md">
      <h1>{{ label }}</h1>

      <div class="slugline">
        Published on
        {{ node.getCreatedTime|format_date('month_year') }}
        {% if node.field_article_author is not empty %}
          | {{ content.field_article_author }}
        {% endif %}
      </div>

      <div class="article-share">
        <ul>
          <li><span class="facebook"><i class="icon icon-db-social-facebook"></i></span></li>
          <li><a href="https://twitter.com/intent/tweet?url={{ url('<current>') }}&text=This%20Amazing%20Boat%20Article" class="twitter"><i class="icon icon-db-social-twitter"></i></a></li>
          <li><a class="email" href="mailto:?subject=This%20Amazing%20Boat%20Article" target="_blank" re="noopener noreferrer"><i class="icon icon-db-social-email"></i></a></li>
        </ul>
      </div>

      <div class="article__body">
      {{ content.field_article_body }}
      </div>

      {% if node.field_article_activity is not empty %}
      <h5 class="article-secondary-links">Category: {{ content.field_article_activity }}</h5>
      {% endif %}

      {% if node.field_article_tags is not empty %}
      <h5 class="article-secondary-links">Tags: {{ content.field_article_tags }}</h5>
      {% endif %}
    </div>
    <aside class="related-content col-12-sm col-4-md">
      <div>
        {{ drupal_view('related_content_view', 'block_1') }}
      </div>
      {% if content.field_article_call_out %}
      <div class='article-quote'>
        {{ content.field_article_call_out }}
      </div>
      {% endif %}
    </aside>
  </article>
</section>
<!-- /content -->

<!-- /article #node -->
