<div class="col-12-xs col-12-sm col-4-md">
  <div class="grid-item--article">

    <div class="grid-item--content">
      <div class="title">{{ node.label }}</div>
      <div class="body">
        <div>{{ content.field_ybp_address }}</div>
        <div>{{ content.field_ybp_description }}</div>
        <div>{{ content.field_ybp_company_email }}</div>
        <div>{{ content.field_ybp_phone }}</div>
        <div>{{ content.field_ybp_company_url }}</div>
      </div>
    </div>
  </div>
</div>




