<div class="col-12-xs col-12-sm">
  <a href="{{ url }}" rel="bookmark" >
    <div class="">
      {{ title_prefix }}
      <div class="">
        <div class="image curve-corner" style="background-image: url({{ path }})">
        </div>
        <div class="title"><span class="text-xsmall">{{ node.label }}</span></div>
      </div>
      {{ title_suffix }}
    </div>
  </a>
</div>
