{% set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
] %}


<article {{ attributes.addClass(classes) }}>

    {% if title_prefix or title_suffix or display_submitted or unpublished or page is empty and label %}
        <header>
            {{ title_prefix }}
            {% if not page and label %}
                <h4{{ title_attributes }}>
                    <a href="{{ url }}">{{ label }}</a>
                </h4>
            {% endif %}
            {{ title_suffix }}
            <div class="slugline">{{ node.getCreatedTime|format_date('month_year') }}
            </div>

        </header>
    {% endif %}

    <div class="content">
        {{ content.field_video_description }}
    </div>


</article>
<!-- /article #node -->
