{#//Mobile Version#}

<nav class="menu screen-lg-up">
  <ul class="menu">
    <li class="menu-item">
      {#<a id="mm-dd-1"href="">Discover Boating <i class="icon icon-db-triangle-down"></i></a> #}
      {{ mm_link('main', 1) }}
      <div class="megamenu--region megamenu--region-1">
        {{ megamenu_region('megamenu_1') }}
      </div>
    </li>
    <li class="menu-item">
      {#<a id="mm-dd-2" href="">Buying a Boat <i class="icon icon-db-triangle-down"></i></a> #}
      {{ mm_link('main', 2) }}
      <div class="megamenu--region megamenu--region-2">
        {{ megamenu_region('megamenu_2') }}
      </div>
    </li>
    <li class="menu-item">
      {#<a id="mm-dd-3" href="">Owning a Boat <i class="icon icon-db-triangle-down"></i></a>#}
      {{ mm_link('main', 3) }}
      <div class="megamenu--region megamenu--region-3">
        {{ megamenu_region('megamenu_3') }}
      </div>
    </li>
    <li class="menu-item">
      {#<a id="mm-dd-4" href="">Articles &amp; Resources <i class="icon icon-db-triangle-down"></i></a>#}
      {{ mm_link('main', 4) }}
      <div class="megamenu--region megamenu--region-4">
        {{  megamenu_region('megamenu_4') }}
      </div>
    </li>
  </ul>
</nav>
<div class="mobile-nav">
  <nav>
    {#{{ drupal_menu('main', 0, 4, TRUE) }}#}
    <ul>
      <li>
        <a class="subnav__trigger" href="" data-gtm-tracking-label="Top Navigation">Discover Boating <i class="icon icon-db-arrow-right"></i></a>
        <nav class="subnav collapsed">
          <h5><a href="{{ path('entity.node.canonical', {'node': 61}) }}">Go Boating Today</a></h5>
          <h5>Life on the Water</h5>
          {{ drupal_menu('life-on-the-water') }}
          <h5>Activities &amp; Education</h5>
          {{ drupal_menu('activities-and-education') }}
        </nav>
      </li>
      <li>
        <a class="subnav__trigger" href="" data-gtm-tracking-label="Top Navigation">Buying a Boat <i class="icon icon-db-arrow-right"></i></a>
        <nav class="subnav collapsed">
          {{ drupal_menu('mm-buying-a-boat-finder') }}
          {{ drupal_menu('mm-buying-a-boat-calc') }}
          {{ drupal_menu('mm-buying-a-boat-shopping') }}
        </nav>
      </li>
      <li>
        <a class="subnav__trigger" href="" data-gtm-tracking-label="Top Navigation">Owning a Boat <i class="icon icon-db-arrow-right"></i></a>
        <nav class="subnav collapsed">
          <h5><a href="{{ path('entity.node.canonical', {'node': 86}) }}">Owning &amp; Operating</a></h5>
          {{ drupal_menu('activities-and-education') }}
          <h5><a href="{{ path('entity.node.canonical', {'node': 19756}) }}">Trade-in or Sell your Boat</a></h5>
        </nav>
      </li>
      <li>
        <a class="subnav__trigger" href="" data-gtm-tracking-label="Top Navigation">Articles &amp; Resources <i class="icon icon-db-arrow-right"></i></a>
        <nav class="subnav collapsed">
          <h5><a href="/articles-and-resources">All Articles &amp; Resources</a></h5>
          <h5><a target="_blank" href="http://blog.discoverboating.com/">Boating Blog</a></h5>
          <h5><a href="/video-vault">Video Library</a></h5>
        </nav>
      </li>
    </ul>
  </nav>
</div>