{% set componentroot = '/themes/custom/nmma/sass' %}

<div {{ attributes.setAttribute('id', 'pg__c') }}>

  <!-- ______________________ HEADER _______________________ -->

   <header class="header {% if hero is empty %}no-hero{% endif %} hide-on-embed">
    <div class="container">
      <div class="logo">
        <a href="/" data-gtm-tracking="Navigation - Top Navigation - Homepage">
          <img class="logo-white" src="/themes/custom/nmma/images/logo-white.png" alt="Discover Boating">
          <img class="logo-color" src="/themes/custom/nmma/images/logo-color.png" alt="Discover Boating">
        </a>
      </div>
      <div class="header__right">

        {{ page.header }}

        <div class="search">
          <a href="" class="search-trigger">
            <i class="icon icon-db-search"></i>
            <i class="icon icon-db-close"></i>
          </a>
        </div>
        <div>
          <a class="mobile-trigger" href="">
            <i class="icon icon-db-menu"></i>
            <i class="icon icon-db-close"></i>
          </a>
        </div>
      </div>
    </div>
  </header>
  <!-- /header -->

  <!-- ______________________ HERO _______________________ -->

  <!-- /hero -->
  {% if hero %}
    {{ hero }}
  {% endif %}

  <!-- ______________________ MAIN _______________________ -->

  <div class="clearfix" id="main">
    <section id='block-breadcrumbs' class="breadcrumbs hide-on-embed">
      {{ drupal_block('system_breadcrumb_block') }}
    </section>
      {% if page.sidebar_first %}
        <aside class="sidebar-first sidebars" id="sidebar-first">
          {{ page.sidebar_first }}
        </aside>
      {% endif %}
      <!-- /sidebar-first -->

      {% if breadcrumb or title or messages or tabs or action_links %}
        <div id="content-header">

          {% if page.highlighted %}
            <div id="highlighted">{{ page.highlighted }}</div>
          {% endif %}

          {{ title_prefix }}

          {% if title %}
            <h1 class="title">{{ title }}</h1>
          {% endif %}

          {{ title_suffix }}
          {{ messages }}
          {{ page.help }}

          {% if tabs %}
            <div class="tabs">{{ tabs }}</div>
          {% endif %}

          {% if action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endif %}

        </div>
        <!-- /#content-header -->
      {% endif %}

      {{ page.content }}

      {#{{ feed_icons }}#}

      <!-- /content-inner /content -->

      {% if page.sidebar_second %}
        <aside class="sidebar-second sidebars" id="sidebar-second">
          {{ page.sidebar_second }}
        </aside>
      {% endif %}
      <!-- /sidebar-first -->

  </div>
  <!-- /main -->

  <!-- ______________________ FOOTER _______________________ -->
  {% include componentroot ~ '/4-organisms/footer/footer.twig'  %}
        {% if hide_on_embed %} </div> {% endif %}
  {#{% if page.footer %}#}
    {#<!-- /footer -->#}
  {#{% endif %}#}

</div>
<!-- /page -->
