{#
  # Template for NMMA Sponsors block.
#}

<div class="sponsors-block">
  <div class="container">
    {% if featured is not empty %}
      <span class="featured-text">brought to you by</span>
      {% if featured.url is not empty %}
        <a class="sponsor-link" href="{{ featured.url }}" target="_blank">
          <img class="featured-logo" src="{{ featured.image }}" title="{{ featured.title}}" alt="{{ featured.alt }}" />
        </a>
      {% else %}
        <img class="featured-logo" src="{{ featured.image }}" title="{{ featured.title}}" alt="{{ featured.alt }}" />
      {% endif %}
    {% endif %}

    <div class="sponsors-grid">
      <span class="grid-text">official show sponsors</span>
      {% for k, item in items %}
        {% if item.url is not empty %}
          <a class="sponsor-link" href="{{ item.url }}" target="_blank">
            <img class="sponsor-logo" src="{{ item.image }}" title="{{ item.title }}" alt="{{ item.alt }}" />
          </a>
        {% else %}
          <img class="sponsor-logo" src="{{ item.image }}" title="{{ item.title }}" alt="{{ item.alt }}" />
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
