<section {{ attributes }}>
  {{ attach_library('boatshow/countdown_timer') }}

  {{ context_links }}

  <div class="countdown-title">{{ content.title.value }}</div>
  <div class="jquery-countdown" data-countdown-date={{countdown_date}}></div>

  {% if content.field_brick_link.0.url %}
    <a href="{{ content.field_brick_link.0.url }}" class="countdown-button button" data-gtm-tracking="Navigation - Buy tickets now - Inline">{{ content.field_brick_link.0.title }}</a>
  {% endif %}
</section>
