{% if entity is not empty %}
  <div class="play-block flex-container">
    <div class="col-6-xs">
      {% if video_id is not empty %}
      <div class="js-video-modal" data-videoid="{{ video_id }}" data-videocontainer="true" data-gtm-tracking="{{ gtm_category }} - {{ title }} - Featured Articles">
        <div class="image curve-corner">
          <div class="stack-item__image" {% if image is not empty %} style="background-image: url({{ image }});"{% endif %}></div>
          <div class="play-container">
            <i class="icon icon-db-video-play"></i>
          </div>
        </div>
      </div>
      {% else %}
      <a href="{{ url }}" data-gtm-tracking="{{ gtm_category }} - {{ title }} - Featured Articles">
        <div class="image curve-corner">
          <div class="stack-item__image" {% if image is not empty %} style="background-image: url({{ image }});"{% endif %}></div>
        </div>
      </a>
      {% endif %}
    </div>
    <div class="link-container col-6-xs">
      {% if video_id is not empty %}
      <span class="js-video-modal no-pad" data-videoid="{{ video_id }}" data-videocontainer="true" data-gtm-tracking="{{ gtm_category }} - {{ title }} - Featured Articles" class="text-xsmall">{{ title }}</span>
      {% else %}
      <a href="{{ url }}" data-gtm-tracking="{{ gtm_category }} - {{ title }} - Featured Articles" class="text-xsmall">{{ title }}</a>
      {% endif %}
    </div>
</div>
{% endif %}
