<div class="js-boat-brand-item boat-brand__item grid-item--link" data-index="{{ fields.counter.content }}">
  {{ title_prefix }}
  <div class="grid-item--content">
    <div class="image curve-corner">
      {{ fields.field_boat_type_tsr_image.content }}
      <div class="item-title">
        <span>{{ fields.field_boat_type_plural.content }}</span>
      </div>
    </div>
  </div>
  {{ title_suffix }}
  <span class="arrow"></span>
</div>
