<section {{ attributes }}>
  {{ attach_library('boatshow/countdown_timer') }}

  {{ context_links }}

  <div class="countdown-title">{{ entity['#entity'].title.value }}</div>
  <div class="jquery-countdown" data-countdown-date={{countdown_date}}></div>

  {% if entity['#entity'].field_brick_link.0.uri %}
    <a href="{{ entity['#entity'].field_brick_link.0.uri }}" class="countdown-button button" data-gtm-tracking="Navigation - Buy tickets now - Inline">{{ entity['#entity'].field_brick_link.0.title }}</a>
  {% endif %}
</section>
