{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}

<section class="page-intro">
  <div>
    <h2>{{ name }}</h2>
    {{ content.field_activity_type_body }}
  </div>
</section>
<section>
  <div class="flex-container">
    <div class="row">
    {{ drupal_view('boats_by_activity','boat_grid_by_activity') }}
    </div>
  </div>
</section>

<section>
  {{ content.field_activity_bricks }}
</section>

<section>
  {{ content.field_activity_carousel_images }}
</section>

<section class="section-header">
  <h2>Boating Stories</h2>
</section>
<section>
  <div class="flex-container">
    <div class="row">
      {{ drupal_view('article_views', 'block_1') }}
    </div>
  </div>
  <div class="grid-footer">
    <a href="/buying/boat-finder" class="button--secondary">Back To Boat Finder</a>
  </div>
</section>
