<div class="col-12-xs col-6-sm col-4-md">
  <div class="grid-item--link">
    {{ title_prefix }}
    <div class="grid-item--content">
      <div class="image curve-corner">
        <a href="{{ url }}">
          {{ content.field_boat_type_tsr_image }}
          <div class="item-title">
            <span>{{ name }}</span>
          </div>
        </a>
      </div>
    </div>
    {{ title_suffix }}
  </div>
</div>

