{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'media',
    'media--type-' ~ bundle|replace('_','-'),
    'media--view-mode-' ~ view_mode|replace('_','-'),
  ]
%}
<article{{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}
  {% if content %}
    {{ content }}
  {% endif %}
  <a href="{{media_download_url}}" target="_blank">
    <span class="document-filetype"><span class="sr-only">{{ file_filemime }}</span></span>
    <div class="document-text">
      <h4 class="document-label">{{ name }}</h4>
      {% if description is defined %}
        <div class="document-description">{{ description }}</div>
      {% endif %}
      <div class="document-filesize">{{ file_filesize_human }}</div>
    </div>
    <span class="document-download-button"><span class="sr-only">{{'Download'|t}}</span></span>
  </a>
</article>
