<div {{ attributes.addClass('col-12-xs') }}>
  <div class="grid-item--link">
    {{ title_prefix }}
    <div class="grid-item--content">
      <a href="{{ link }}" data-gtm-tracking-action="{{ entity.title.0 }}">
        <div class="image curve-corner" style="background-image: url({{ path }})">
          <div class="item-title">
            <span>{{ entity.title }} <i class="icon icon-db-arrow-right"></i></span>
            <span class="text-small">{{ entity.field_lpg_body }}</span>
          </div>
        </div>
      </a>
    </div>
  </div>
  {{ title_suffix }}
</div>
