{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

        {% if content is empty %}
            <div class="megamenu__drawer">
                <div class="flex-container">
                    <div class="col-4-md">
                        <ul>
                            <lh><a href="{{ path('entity.node.canonical', {'node': 71}) }}">Boat Finder</a></lh>
                            <li><p>Explore different boat types and find the one that’s right for you.</p></li>
                            <li><a href="">Boat Brands &amp;amp; Manufacturers</a></li>
                            <li><a href="">Certified Boats</a></li>
                            <li><a href="">Engines</a></li>
                            <li><a href="">Glossary of Boating Terms</a></li>
                            <li><a href="">Faq</a></li>
                        </ul>
                    </div>
                    <div class="col-4-md">
                        <ul>
                            <lh>
                                <a href="{{ path('entity.node.canonical', {'node': 16076}) }}">{{ 'Boat Loan Calculator'|t }}</a>
                            </lh>
                            <li><p>Boating may be more affordable than you think. Use our Boat Loan Calculator to
                                    estimate your
                                    monthly payments.</p></li>
                            <li><a href="">Costs of Boat Ownership</a></li>
                            <li><a href="">Financing Your Boat</a></li>
                            <li><a href="">New or Pre Owned</a></li>
                            <li><a href="">Buying a Pre-Owned Boat</a></li>
                        </ul>
                    </div>
                    <div class="col-4-md">
                        <ul>
                            <li><a href="">Shopping for a Boat</a></li>
                            <li><p>Our comprehensive guide has all the information you need</p></li>
                            <li><a href="">Find a Certified Dealer</a></li>
                            <li><p>View certified dealers near you</p></li>
                            <li><a href="{{ path('entity.node.canonical', {'node': 66}) }}">Find a Marina</a></li>
                            <li><p>Search all water access points in your area</p></li>
                            <li><a href="http://www.boatshows.com/">Boat Shows</a></li>
                            <li><p>Select your state to view upcoming boat shows near you.</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        {% else %}
            {{ content }}
        {% endif %}
