<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
      {% if city_key %}
      <meta name="foo" content="bar">
      <% endif %>
      {% if boatshow_city %}
      <meta name="aaa" content="bay" />
      <% endif %>
  </head>
  <body{{ attributes }}>
    <div id="skip">
      <a class="visually-hidden focusable skip-link" href="#content">
        {{ 'Skip to content'|t }}
      </a>
    </div>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
