{% set componentroot = '/themes/custom/boatshow/templates' %}

<div {{ attributes.setAttribute('id', 'pg__c') }}>

  <!-- ______________________ PRE-HEADER _______________________ -->

  {% if page.pre_header %}
    <div class="pre-header-wrapper">
      {{ page.pre_header }}
    </div>
  {% endif %}

  <!-- ______________________ HEADER _______________________ -->

    <header class="header header-modal-wrap header-wrap {% if hero is empty %}no-hero{% endif %} hide-on-embed">
      <div class="header-bar container">
        <div class="logo">
          <a href="/" data-gtm-tracking="Navigation - Top Navigation - Homepage">
            <img class="logo-white" src="/themes/custom/boatshow/images/{{ boatshow_city }}/boatshow_logo_white.png" alt="Boat Show">
            <img class="logo-color" src="/themes/custom/boatshow/images/{{ boatshow_city }}/boatshow_logo_color.png" alt="Boat Show">
          </a>
        </div>
        <div class="header__right">

          <div class="mobile-trigger-wrap">
            <button class="mobile-trigger">
              <i class="icon icon-db-menu"></i>
              <i class="icon icon-db-close"></i>
            </button>
          </div>

          <div class="secondary-nav">
            {{ drupal_menu('header-secondary-nav') }}
          </div>

        </div>
      </div>
      <div class="container">{{ page.header }}</div>
    </header>
  <!-- /header -->

  <!-- ______________________ HERO _______________________ -->

  <!-- /hero -->
  {% if hero %}
    {{ hero }}
  {% endif %}

  <!-- ______________________ MAIN _______________________ -->

  <div class="clearfix" id="main">
      {% if page.sidebar_first %}
        <aside class="sidebar-first sidebars" id="sidebar-first">
          {{ page.sidebar_first }}
        </aside>
      {% endif %}
      <!-- /sidebar-first -->

      {% if breadcrumb or title or messages or tabs or action_links %}
        <div id="content-header">

          {% if page.highlighted %}
            <div id="highlighted">{{ page.highlighted }}</div>
          {% endif %}

          {{ title_prefix }}

          {{ title_suffix }}
          {{ messages }}
          {{ page.help }}

          {% if tabs %}
            <div class="tabs">{{ tabs }}</div>
          {% endif %}

          {% if action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endif %}

        </div>
        <!-- /#content-header -->
      {% endif %}

      {{ page.content }}

      <!-- /content-inner /content -->

      {% if page.sidebar_second %}
        <aside class="sidebar-second sidebars" id="sidebar-second">
          {{ page.sidebar_second }}
        </aside>
      {% endif %}
      <!-- /sidebar-first -->

  </div>
  <!-- /main -->

  <!-- ______________________ FOOTER _______________________ -->
  <footer class="footer hide-on-embed">
    {{ page.footer }}
    {% include componentroot ~ '/region/footer.twig' %}
  </footer>

</div>
<!-- /page -->
